@import "../../../../styles/variables.scss";

.not-found {
  width: 100vw;
  height: 88svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h2 {
    font-family: "Audiowide", sans-serif;
    font-weight: 500;
    user-select: none;
    margin: 0;
  }

  h1 {
    font-size: 7vmin;
    color: transparentize($text, 0.2);
  }

  h2 {
    font-size: 3vmin;
    color: transparentize($text, 0.2);
  }

  p {
    font-size: 2.5vmin;
    color: transparentize($text, 0.2);
  }
}
