<div class="container">
  @if (productForm) {
  <form [formGroup]="productForm">
    <app-input [control]="productForm.get('name')" label="Name" type="text" />
    <app-input
      [control]="productForm.get('description')"
      label="Description"
      type="text"
    />
    <app-input
      [control]="productForm.get('price')"
      label="Price"
      type="number"
    />
    <app-input
      [control]="productForm.get('imageUrl')"
      label="Image URL"
      type="text"
    />
  </form>

  <!-- Image Preview -->
  <div>
    @if (productForm.get('imageUrl')) {
    <img
      [src]="productForm.get('imageUrl')!.value || defaultImageUrl"
      alt="Product Image"
    />
    }
  </div>
  }
</div>
