@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.container {
  width: 100vw;
  height: 88svh;
  display: grid;
  grid-template-rows: $search-container-height 1fr;

  .grid {
    width: 100%;
    max-height: calc(88vh - $search-container-height);
    overflow-y: auto;
    padding: 1rem 3.5rem 3rem 3.5rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 360px), 1fr));
    position: relative;

    .empty {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      color: #ffffff66;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
  }

  @include scrollbarFor(".grid");
}
