<main class="container">
  <section class="header">
    <a routerLink="/product" class="button">New Product</a>
  </section>

  <section class="grid">
    <!-- Products grid defer -->
    @defer (when productsService.products().length > 0) {

    <!-- Products grid-->
    @for (product of productsService.products(); track product.id) {
    <app-card [product]="product" />
    } @empty {
    <div class="empty">No products found</div>
    }

    <!-- Products loading placeholder -->
    } @placeholder {
    <div class="empty">Loading...</div>
    }
  </section>
</main>
