@import "../../../../styles/variables";

.button {
  width: 100%;
  height: $card-height;
  border-radius: $card-radius;
  border: 1px solid transparentize($primary, 0.75);
  -webkit-box-shadow: $card-shadow;
  box-shadow: $card-shadow;
  transition: $card-transition;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: lighten($background, 8%);
  color: transparentize($text, 0.4);
  cursor: pointer;

  &__icon {
    font-size: 3rem;
  }

  &__text {
    font-size: 1.2rem;
  }

  &:hover {
    background-color: lighten($background, 12%);
    color: $text;
    -webkit-box-shadow: $card-shadow-hover;
    box-shadow: $card-shadow-hover;
    transform: translateY(-5px);
  }
}
