@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./styles/variables";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-image: linear-gradient(
    to bottom,
    $background,
    lighten($background, 12%)
  );

  font-family: "Roboto", sans-serif;
  color: $text;
}

.button {
  width: 100%;
  padding: 0.6rem 1.1rem;
  margin: 0 3.5rem;
  background-color: $accent;
  border: none;
  color: $accent-text;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.05s;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: $primary;
  }

  &:active {
    background-color: $accent;
  }
}
